<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <P>
    <%= customers.length %> clientes cadastrados!
  </P>
  <table>
    <thead>
      <tr>
        <td>Nome</td>
        <td>Idade</td>
        <td>Região</td>
        <td>Ações</td>
      </tr>
    </thead>
    <tbody>
      <% customers.forEach(item=> {%>
      <tr>
        <td><a href="newcustomer/edit/<%= item._id %>"><%= item.nome %></a></td>
        <td><%= item.idade %></td>
        <td><%= item.cidade %> <%= item.uf %></td>
        <td>
          <a href="newcustomer/edit/<%= item._id %>">
            <img src="/images/edit.png" alt="" title="Edit"/>
          </a>
          <a href="/delete/<%= item._id %>" onclick="return confirm('Confirma a remoção do cliente?')">
            <img src="/images/delete.png" alt="" title="Excluir"/>
          </a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <hr>
  <a href="/newcustomer">Cadastrar Cliente</a>
</body>

</html>